
    <style>
    
      body {
    background-color: #8B6331;
    background-image : url('http://cafefiles.naver.net/20110611_92/jychoi0622_1307760303766r2ikP_jpg/bono.bono.tv.1995.ep.16.xvid.ac3.2audio_jina.avi_000544911_jychoi0622.jpg');
    background-repeat : no-repeat;
    background-size : contain ;
    background-position : left left;
    background-attachment : fixed;
    }
    
      div {
         position : fixed;
         left : 3%;
         right : 65%;
         bottom : 37%;
         top : 5%;
         border: 3px solid  #660033;
         border-radius: 15px;
         -moz-border-radius: 15px;
         -webkit-border-radius: 15px;
         -o-border-radius: 15px;
   
        padding: 30px;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.4 );
    }
    
    div1{
       position : fixed;
         right : 2%;
         left : 68%;
         bottom :8%;
         top : 8%;
         border: 5px dashed #603A00;
         border-radius: 15px;
         -moz-border-radius: 15px;
         -webkit-border-radius: 15px;
         -o-border-radius: 15px;
   
        padding: 30px;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.4 );
    }
   
      </style>
      
      
    <body>
      
      <div>
       <img src="http://post.phinf.naver.net/20160815_183/1471226302997hH6l0_JPEG/INVpZ1t0xq_8ewTOoB7wzGmN67co.jpg" alt="보노보노" height="40" width="50"/> &nbsp; <bold>내 번호는 뭐야아~ </bold><br>
    <%=@my_lotto%> 야!!  &nbsp; <img src="http://blogfiles5.naver.net/20120622_251/24songcg_13402912614315ukMc_JPEG/%C6%F7%B7%CE%B8%AE.jpg" alt="포로리"height="40" width="50"/>    <br><br>

    
       <img src="http://post.phinf.naver.net/20160815_183/1471226302997hH6l0_JPEG/INVpZ1t0xq_8ewTOoB7wzGmN67co.jpg" alt="보노보노" height="40" width="50"/> &nbsp;이번 주 당첨 번호는 뭘까아~ <br>
    <%=@num%> 야!  &nbsp; <img src="http://blogfiles5.naver.net/20120622_251/24songcg_13402912614315ukMc_JPEG/%C6%F7%B7%CE%B8%AE.jpg" alt="포로리"height="40" width="50"/> <br><br>
  
       <img src="http://post.phinf.naver.net/20160815_183/1471226302997hH6l0_JPEG/INVpZ1t0xq_8ewTOoB7wzGmN67co.jpg" alt="보노보노" height="40" width="50"/> &nbsp;보너스 번호도 있어~? <br>
    <%=@num1%> 래!! &nbsp;  <img src="http://blogfiles5.naver.net/20120622_251/24songcg_13402912614315ukMc_JPEG/%C6%F7%B7%CE%B8%AE.jpg" alt="포로리"height="40" width="50"/> <br><br>

     그래서 어떤 숫자들이 맞은거야아~  &nbsp;<img src="http://cafefiles.naver.net/data26/2007/8/17/123/%BA%B8%B3%EB%BA%B8%B3%EB_acsrt9522.jpg" alt="초롱초롱 보노보노" height="40" width="50"/><br>
     <img src="http://cafefiles.naver.net/20150109_300/weekend1155_1420807298174G0mMK_PNG/1367749490131_mugc-18-137.png" alt="포로리2" height="40" width="50"/>  &nbsp;<%=@a%> 이렇게밖에 못 맞췄어!!!<br><br>
    
    
      
      </div>
      
      <div1>
        <img src="http://blogfiles1.naver.net/20130203_135/kaleidosg_1359874895705yCUik_JPEG/1359874895064_red2_281229.jpg" alt ="우는 보노보노"  height="60" width="80"/>  &nbsp;그럼 난 몇 등인거야아~? <br>
    <%=@rank%>등!!! 보노보노야 거의 꼴등이구나!! &nbsp;<img src="http://cafefiles.naver.net/20110714_22/tkffkql90_1310633683616biulp_jpg/2011-07-14_17%3B54%3B25_tkffkql90.jpg" alt="조롱하는 포로리"  height="60" width="80"/> <br><br>
  
      
           <img  src="http://cafefiles.naver.net/20121123_83/doraemog_1353644926601CErQM_JPEG/2102501504.jpg" alt="분노"  width="280" height="300" align = "center" /> <br><br><br>
    
    <h4>
          <a href="/home/show" class="btn btn-danger" role="button"> 헛소리 하지마 임마!!!! </a> <br><br>
          <a href="/home/index" class="btn btn-warning" role="button"> 포로리야~ </a>

    </h4>
        
      </div1>
      
   
      
      </body>
